body {
    font-family: "Quicksand", sans-serif;
    padding: 0;
    margin: 0;
}

.nav-container {
    width: 100%;
    margin: 0 1%;
    position: fixed;
    z-index: 1;
    background: #ffffff;
    box-shadow: 1px 2px 6px 0px #0000001f;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1 {
    font-family: lalezar;
    font-size: 48px;
    color: #444444;
    margin: 8px 0px;
}

.nombre {
    font-size: 1.5rem;
    color: rgba(78, 87, 192, 0.733)
}

.nombrecasos {
    font-family: Catamaran;
    font-size: 34px;
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
    font-weight: 300;
}

ul {
    display: table;
    list-style-type: none;
    box-sizing: border-box;
}

#logo {
    width: 85px;
    height: 85px;
}
  
.nav-links {
    width: 40%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.nav-links a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}


.imagenes-textdrch {
    display: flex;
    margin-left: 80px;
    margin-right: 92px;
    margin-top: 72px;
}

.fw-300 {
    font-weight: 300;
}

.titulo {
    font-size: 32px;
}

section{
width: 80%;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10%;

}
.img{
    width: 60%;
}
.texto-descripcion{
    width: 40%;
    padding: 3%;
}

#metro{
    width: 100%;
}
#forest{
    width: 100%;
}

#everblink{
    width: 100%;
}

.container2{
    width: 80%;
    margin: 0 auto;
}
.container2 h1,h4{
    margin-bottom: 3%;
}


